workflows/n8n/factory-execution.workflow.json
{
  "name": "Factory-Execution",
  "nodes": [
    {
      "parameters": {
        "path": "run-project",
        "pathType": "static",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "id": "run-webhook-trigger",
      "name": "RunWebhookTrigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const id = ($json.body?.project_id || $json.project_id || '').toString().trim();\nif (!id || !/^[A-Za-z0-9_-]+$/.test(id)) { throw new Error('Invalid project_id'); }\nreturn [{ json: { project_id: id } }];"
      },
      "id": "parse-id",
      "name": "Parse Project ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        430,
        300
      ]
    },
    {
      "parameters": {
        "command": "=set -e\nP=/data/projects/{{$item(0).$node['Parse Project ID'].json.project_id}}\nmkdir -p \"$P/state\" \"$P/logs\" \"$P/repo\" \"$P/tasks\"\nprintf '{\"phase\":\"RUNNING\",\"running\":true,\"updated_at\":\"%s\"}' \"$(date -u +%Y-%m-%dT%H:%M:%SZ)\" > \"$P/state/status.json\"\necho \"Execution started at $(date -u +%Y-%m-%dT%H:%M:%SZ)\" > \"$P/logs/build.log\""
      },
      "id": "mark-running",
      "name": "Mark RUNNING",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "command": "=set -e\nP=/data/projects/{{$item(0).$node['Parse Project ID'].json.project_id}}\nSPEC=\"$P/project_spec.md\"\nSTACK=nextjs\nif [ -f \"$SPEC\" ]; then\n  if grep -qi laravel \"$SPEC\"; then STACK=laravel; fi\n  if grep -qi flutter \"$SPEC\"; then STACK=flutter; fi\nfi\nmkdir -p \"$P/repo\"\ncat > \"$P/repo/README.md\" <<'EOF'\n# Generated Project\n\nThis project scaffold was generated by AI Software Factory workflow.\nEOF\nprintf '{\"stack\":\"%s\"}' \"$STACK\" > \"$P/state/spec.json\"\necho \"Template/scaffold prepared (stack=$STACK)\" >> \"$P/logs/build.log\""
      },
      "id": "apply-template",
      "name": "Apply Template",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "command": "=set -e\nPID='{{$item(0).$node['Parse Project ID'].json.project_id}}'\nP=/data/projects/$PID\n( cd \"$P/repo\" && find . -type f | sort ) > \"$P/repo_tree.txt\"\ntar -cf \"$P/$PID.zip\" -C \"$P/repo\" .\nBR=deliver/$PID\nprintf '{\"phase\":\"PASSED\",\"running\":false,\"github_branch\":\"%s\",\"zip\":\"%s\",\"updated_at\":\"%s\"}' \"$BR\" \"$P/$PID.zip\" \"$(date -u +%Y-%m-%dT%H:%M:%SZ)\" > \"$P/state/status.json\"\necho \"Execution completed successfully\" >> \"$P/logs/build.log\""
      },
      "id": "finalize",
      "name": "Finalize",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1270,
        300
      ]
    }
  ],
  "connections": {
    "Parse Project ID": {
      "main": [
        [
          {
            "node": "Mark RUNNING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark RUNNING": {
      "main": [
        [
          {
            "node": "Apply Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Template": {
      "main": [
        [
          {
            "node": "Finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RunWebhookTrigger": {
      "main": [
        [
          {
            "node": "Parse Project ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "1"
}