workflows/n8n/factory-execution.workflow.json
{
  "name": "Factory-Execution",
  "nodes": [
    {
      "parameters": {
        "path": "run-project",
        "pathType": "static",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "id": "run-webhook-trigger",
      "name": "RunWebhookTrigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const id = ($json.body?.project_id || $json.project_id || '').toString().trim();\nif (!id || !/^[A-Za-z0-9_-]+$/.test(id)) { throw new Error('Invalid project_id'); }\nreturn [{ json: { project_id: id } }];"
      },
      "id": "parse-id",
      "name": "Parse Project ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        430,
        300
      ]
    },
    {
      "parameters": {
        "command": "=set -e\nP=/data/projects/{{$item(0).$node['Parse Project ID'].json.project_id}}\nmkdir -p \"$P/state\" \"$P/logs\" \"$P/repo\" \"$P/tasks\"\nprintf '{\"phase\":\"RUNNING\",\"running\":true,\"updated_at\":\"%s\"}' \"$(date -u +%Y-%m-%dT%H:%M:%SZ)\" > \"$P/state/status.json\"\necho \"Execution started at $(date -u +%Y-%m-%dT%H:%M:%SZ)\" > \"$P/logs/build.log\""
      },
      "id": "mark-running",
      "name": "Mark RUNNING",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "command": "=set -e\nP=/data/projects/{{$item(0).$node['Parse Project ID'].json.project_id}}\nSPEC=\"$P/project_spec.md\"\nSTACK=nextjs\nif [ -f \"$SPEC\" ]; then\n  if grep -qi laravel \"$SPEC\"; then STACK=laravel; fi\n  if grep -qi flutter \"$SPEC\"; then STACK=flutter; fi\nfi\nmkdir -p \"$P/repo\"\ncat > \"$P/repo/README.md\" <<'EOF'\n# Generated Project\n\nThis project scaffold was generated by AI Software Factory workflow.\nEOF\nprintf '{\"stack\":\"%s\"}' \"$STACK\" > \"$P/state/spec.json\"\necho \"Template/scaffold prepared (stack=$STACK)\" >> \"$P/logs/build.log\""
      },
      "id": "apply-template",
      "name": "Apply Template",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "command": "=set -e\nPID='{{$item(0).$node['Parse Project ID'].json.project_id}}'\nP=/data/projects/$PID\n( cd \"$P/repo\" && find . -type f | sort ) > \"$P/repo_tree.txt\"\ntar -cf \"$P/$PID.zip\" -C \"$P/repo\" .\nmkdir -p \"$P/preview\"\nSPEC_SHORT=$(head -n 60 \"$P/project_spec.md\" | sed 's/&/\\&amp;/g; s/</\\&lt;/g; s/>/\\&gt;/g')\nTREE_SHORT=$(head -n 120 \"$P/repo_tree.txt\" | sed 's/&/\\&amp;/g; s/</\\&lt;/g; s/>/\\&gt;/g')\ncat > \"$P/preview/index.html\" <<EOF\n<!doctype html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>Preview $PID</title><style>body{font-family:Inter,Arial,sans-serif;margin:24px;line-height:1.5}pre{background:#111;color:#eaeaea;padding:12px;border-radius:8px;overflow:auto}a{color:#2563eb}</style></head><body><h1>Project Preview: $PID</h1><p>This is an online delivery preview generated by AI Software Factory.</p><p><a href=\"/factory-preview/$PID/$PID.zip\">Download ZIP</a></p><h2>Spec (excerpt)</h2><pre>$SPEC_SHORT</pre><h2>Generated files (excerpt)</h2><pre>$TREE_SHORT</pre></body></html>\nEOF\nBR=deliver/$PID\nPREVIEW_URL=https://petsy.company/factory-preview/$PID/preview/index.html\nprintf '{\"phase\":\"PASSED\",\"running\":false,\"github_branch\":\"%s\",\"zip\":\"%s\",\"preview_url\":\"%s\",\"updated_at\":\"%s\"}' \"$BR\" \"$P/$PID.zip\" \"$PREVIEW_URL\" \"$(date -u +%Y-%m-%dT%H:%M:%SZ)\" > \"$P/state/status.json\"\necho \"Execution completed successfully\" >> \"$P/logs/build.log\""
      },
      "id": "finalize",
      "name": "Finalize",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1270,
        300
      ]
    }
  ],
  "connections": {
    "Parse Project ID": {
      "main": [
        [
          {
            "node": "Mark RUNNING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark RUNNING": {
      "main": [
        [
          {
            "node": "Apply Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Template": {
      "main": [
        [
          {
            "node": "Finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RunWebhookTrigger": {
      "main": [
        [
          {
            "node": "Parse Project ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "1"
}